<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">

<!--    Верхняя панель, заголовок-->
</head>
<body>
<header class="navbar sticky-top bg-dark flex-md-nowrap p-0 shadow" data-bs-theme="dark">
    <p class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 text-white" >Web Organization Information</p>
</header>


<!--    Список отделов и сотрудников -->
<br>
<h2>Список отделов и сотрудников</h2>
<br>

<div class="table-responsive small">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th scope="col">Наименование отдела</th>
            <th scope="col">Вышестоящий отдел</th>
            <th scope="col">Список сотрудников в отделе</th>
        </tr>
        </thead>
        <tbody>
        <!--  Цикл по отделам  -->
        <tr th:each="dep : ${depList}">
            <td valign="middle" th:text="${dep.name}">Department Name</td>
            <td valign="middle" th:text="${dep.superDepartment?.name}">Super department name</td>
            <!-- Цикл по сотрудникам в отделе-->
            <td>
                <span th:each="emp : ${dep.employees}">
                <div>
                    <span th:text="${emp.surname}">Second Name</span>
                    <span th:text="${emp.name}">First Name</span>
                    <span th:text="${emp.otchest}">Otchestvo</span>;
                </div>
            </span>
            </td>


        </tr>
        </tbody>
    </table>
</div>



</body>
</html>